<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robstride_joint_ros2_control" params="name canbus device_id joint_name">
    <ros2_control name="${name}" type="actuator">
        <hardware>
            <plugin>cybergear_control/CybergearActuator</plugin>
            <param name="can_interface">${canbus}</param>
            <param name="timeout_sec">3.0</param>
            <param name="interval_sec">0.01</param>
            <param name="device_id">${device_id}</param>
            <param name="primary_id">0</param>
            <param name="effort_kp">40</param>
            <param name="effort_kd">5</param>
        </hardware>
        <joint name="${joint_name}">
            <command_interface name="position">
                <param name="min">-100</param>
                <param name="max">100</param>
            </command_interface>
            <!-- <command_interface name="velocity"> -->
            <!--   <param name="min">-6</param> -->
            <!--   <param name="max">6</param> -->
            <!-- </command_interface> -->
            <!-- <command_interface name="effort"> -->
            <!--   <param name="min">-4</param> -->
            <!--   <param name="max">4</param> -->
            <!-- </command_interface> -->
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="torque"/>
            <state_interface name="temperature"/>
        </joint>
    </ros2_control>
  </xacro:macro>
</robot>