<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0" />
    </material>

    <xacro:macro name="leader" >
        <link name="base_link">
            <visual>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Base_link.STL" />
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Base_link.STL" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.760315" />
                <origin xyz="0.011296 -0.000093 0.017421" rpy="0 0 0" />
                <inertia ixx="0.001892" ixy="-0.000004" ixz="0.000251"
                        iyy="0.003009" iyz="-0.000002"
                        izz="0.004372" />
            </inertial>
        </link>


        <joint name="shoulder_yaw_joint" type="revolute">
            <parent link="base_link" />
            <child link="shoulder_link" />
            <origin xyz="0.045 0.000 0.073" rpy="0 0 0" />
            <axis xyz="0 0 -1" />
            <limit effort="10" velocity="3.0" lower="-3.14" upper="3.14" />
        </joint>

        <link name="shoulder_link">
            <visual>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Shoulder_link.STL" />
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Shoulder_link.STL" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.104932" />
                <origin xyz="-0.011744 -0.003190 0.018889" rpy="0 0 0" />
                <inertia ixx="0.000022" ixy="0.000000" ixz="0.0000000"
                        iyy="0.000036" iyz="0.000000"
                        izz="0.000034" />
            </inertial>
        </link>

        <joint name="upper_shoulder_pitch_joint" type="revolute">
            <parent link="shoulder_link" />
            <child link="upper_shoulder_link" />
            <origin xyz="-0.012 -0.026 0.026" rpy="0 0 0" />
            <axis xyz="0 -1 0" />
            <limit effort="10" velocity="3.0" lower="-1.70" upper="1.70" />
        </joint>

        <link name="upper_shoulder_link">
            <visual>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Upper_shoulder_link.STL" />
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Upper_shoulder_link.STL" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.098298" />
                <origin xyz="0.000000 -0.018677 0.016030" rpy="0 0 0" />
                <inertia ixx="0.000037" ixy="0.000000" ixz="0.000000"
                        iyy="0.000032" iyz="0.000000"
                        izz="0.000018" />
            </inertial>
        </link>

        <joint name="arm_yaw_joint" type="revolute">
            <parent link="upper_shoulder_link" />
            <child link="arm_link" />
            <origin xyz="0.000 -0.019 0.048" rpy="0 0 0" />
            <axis xyz="0 0 -1" />
            <limit effort="10" velocity="3.0" lower="-3.14" upper="3.14" />
        </joint>

        <link name="arm_link">
            <visual>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Arm_link.STL" />
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Arm_link.STL" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.198517" />
                <origin xyz="0.004663 0.000160 0.082369" rpy="0 0 0" />
                <inertia ixx="0.000775" ixy="0.000000" ixz="-0.000059"
                        iyy="0.000786" iyz="0.000002"
                        izz="0.000047" />
            </inertial>
        </link>

        <joint name="forearm_pitch_joint" type="revolute">
            <parent link="arm_link" />
            <child link="forearm_link" />
            <origin xyz="0.000 0.019 0.159" rpy="0 0 0" />
            <axis xyz="0 -1 0" />
            <limit effort="10" velocity="3.0" lower="-2.33" upper="2.4" />
        </joint>

        <link name="forearm_link">
            <visual>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Forearm_link.STL" />
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Forearm_link.STL" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.120758" />
                <origin xyz="0.000000 0.016998 0.099892" rpy="0 0 0" />
                <inertia ixx="0.000231" ixy="0.000000" ixz="0.000000"
                        iyy="0.000226" iyz="0.000002"
                        izz="0.000021" />
            </inertial>
        </link>

        <joint name="wrist_pitch_joint" type="revolute">
            <parent link="forearm_link" />
            <child link="wrist_link" />
            <origin xyz="0.000 -0.002 0.135" rpy="0 0 0" />
            <axis xyz="0 1 0" />
            <limit effort="10" velocity="3.0" lower="-1.86" upper="1.69" />
        </joint>

        <link name="wrist_link">
            <visual>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Wrist_link.STL" />
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Wrist_link.STL" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.091000" />
                <origin xyz="0.000000 -0.027250 0.000360" rpy="0 0 0" />
                <inertia ixx="0.000028" ixy="0.000000" ixz="0.000000"
                        iyy="0.000015" iyz="0.000000"
                        izz="0.000024" />
            </inertial>
        </link>

        <joint name="palm_yaw_joint" type="revolute">
            <parent link="wrist_link" />
            <child link="palm_link" />
            <origin xyz="0.000 -0.041 0.019" rpy="0 0 0" />
            <axis xyz="0 0 1" />
            <limit effort="10" velocity="3.0" lower="-3.14" upper="3.14" />
        </joint>

        <link name="palm_link">
            <visual>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Palm_link.STL" />
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Palm_link.STL" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.167758" />
                <origin xyz="0.025752 0.013110 0.095377" rpy="0 0 0" />
                <inertia ixx="0.000295" ixy="-0.000011" ixz="-0.000004"
                        iyy="0.000363" iyz="0.000062"
                        izz="0.000136" />
            </inertial>
        </link>

        <joint name="gripper_prismatic_joint" type="revolute">
            <parent link="palm_link" />
            <child link="gripper_link" />
            <origin xyz="0.033 0.004 0.127" rpy="0 0 0" />
            <axis xyz="0 -1 0" />
            <limit effort="1" velocity="4.8" lower="-0.4" upper="0.0" />
        </joint>

        <link name="gripper_link">
            <visual>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Gripper_link.STL" />
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://leader_description/meshes/Gripper_link.STL" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.006201" />
                <origin xyz="0.017052 -0.003500 0.004139" rpy="0 0 0" />
                <inertia ixx="0.000001" ixy="0.000000" ixz="0.000000"
                        iyy="0.000002" iyz="0.000000"
                        izz="0.000001" />
            </inertial>
        </link>

        <joint name="ee_joint" type="fixed">
            <parent link="palm_link" />
            <child link="ee_link" />
            <origin xyz="0.060 0.000 0.135" rpy="0 0 0" />
        </joint>

        <link name="ee_link" />
    </xacro:macro>

</robot>
