<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nxp_omniman">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import nxp_omniman urdf file -->
    <xacro:include filename="$(find omniman_description)/urdf/omniman.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="nxp_omniman.ros2_control.xacro" />


    <xacro:omniman_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
